// This file contains a list of all the processes which procman should
// run on the robot.

:process : object {
    host = "localhost";
    auto-restart = "true";
    restart-delay-ms = "500";
    auto-start = "true";
    name = "unknown";
}

// RobotDriver
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.robot.RobotDriver";
    name = "Robot Driver";
}

proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.robot.EspeakDaemon";
    name = "Espeak Daemon";
}

// Camera Driver
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.camera.CameraDriver";
    name = "Camera Driver";
}

// AprilTag-based Classifier
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.classify.TagClassifier -c $PROBCOG_HOME/config/tags.config";
    name = "AprilTag Classifier";
}

// GamePadDriver
//proc# : process {
//    cmd = "$JAVA $JAVA_OPTS_64 april.util.GamePadDriver";
//    name = "GamePadDriver";
//}

// Soar Navigation Control
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.commands.CommandInterpreter";
    name = "Soar Command Controller";
}

// PIMU XXX /dev/pimu
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.pimu.PIMU -d /dev/ttyUSB1";
    name = "PIMU";
}

// PIMU Pose
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.robot.pimu.PIMUPose";
    name = "PIMUPose";
}

// Hokuyo Driver
proc# : process {
    cmd = "$HOME/april/bin/hokuyo --channel HOKUYO_LIDAR";
    name = "Hokuyo Driver";
 }


// kinect
//proc# : process {
//    cmd = "$BIN_PATH/kinect";
//    name = "Kinect Driver";
//}

// obstacles
proc# : process {
    cmd = "$JAVA $JAVA_OPTS_64 probcog.perception.ObstacleMap";
    name = "Obstacle Map";
}
