sim_locations {

    r# {
        name = "stove";
        center = [.2, .2, 0];
        lwh = [.2, .2, .007];
        color = [255, 0, 0];
        num_attributes = 2;

        s#{
            attribute = "door";
            options = ["closed","open"];
        }
        s#{
            attribute = "heat";
            options = ["on","off"];
        }
    }
    r# {
        name = "pantry";
        center = [-.2, .2, 0];
        lwh = [.2, .2, .007];
        color = [128, 0, 255];
        num_attributes = 1;

        s#{
            attribute = "door";
            options = ["open","closed"];
        }
    }
    r# {
        name = "table";
        center = [.2, -.2, 0];
        lwh = [.2, .2, .007];
        color = [255, 128, 0];
        num_attributes = 0;
    }
    r# {
        name = "garbage";
        center = [-.2, -.2, 0];
        lwh = [.2, .2, .007];
        color = [0, 255, 0];
        num_attributes = 0;
    }
}
