agent = agent/rosie/_agent_source.soar
smem-source = agent/rosie/init-smem/init-smem_source.soar

dictionary-file = java/src/probcog/rosie/language/dictionary.txt
grammar-file = java/src/probcog/rosie/language/grammar.xml

decision-throttle-ms = 1 

enable-log = true
watch-level = 1

arm-config = config/probcog.config

