classes {

    c# {
        label = "door";
        ids  =  [0,2,4,6];
        mean = 1.0;
        stddev = 0.0;
    }

    c# {
        label = "door";     // fake doors... have lower probability of appearing
        ids  =  [1,3,5,7];
        mean = 0.2;
        stddev = .02;
    }

    c# {
        label = "green";
        ids = [0];
        mean = 1.0;
        stddev = 0.0;
    }
}
