classes {

    c# {
        label = "door";
        ids  =  [86,87];
        mean = 1.0;
        stddev = 0.0;
    }

    c# {
        label = "door";     // fake doors... have lower probability of appearing
        ids  =  [88];
        mean = 0.2;
        stddev = .02;
    }

    c# {
        label = "green";
        ids = [87];
        mean = 1.0;
        stddev = 0.0;
    }
}
